<section class="card">
  <a href="review/{{id}}">
    <header>{{movie_id}}</header>

    <div class="card-body">
      <strong>Rating: {{rating}}</strong>
      <p>Review: {{review}}</p>
    </div>
  </a>
</section>