<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/style.css">
    <title>Movie Review</title>
</head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" >
        <h2>Movie Review</h2>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="index.html">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="category.html">Category</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="#">Horror</a>
                <a class="navbar-item" href="#">Action</a>
                <a class="navbar-item" href="#">Thriller</a>
                <a class="navbar-item" href="#">Comedy</a>
                <a class="navbar-item" href="#">Drama</a>
                <a class="navbar-item" href="#">Romance</a>
                <a class="navbar-item" href="#">Adventure</a>
                <a class="navbar-item" href="#">Documentary</a>
            </div>
        </div>

        <a class="navbar-item" href="about.html">
          About
        </a>

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="signup.html">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="login.html">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>


    <!-- About Page Content -->
    <section class="section">
        <div class="container">
            <h1 class="title">About Movie Review Project</h1>
            <div class="content">
                <p>
                    The Movie Review Project is a community-driven platform where movie enthusiasts can share their thoughts
                    and opinions on their favorite films. Our mission is to create a space for film lovers to connect, discuss,
                    and review movies of all genres.
                </p>
                <p>
                    Whether you're a casual moviegoer or a cinephile, you can contribute to our growing collection of movie reviews.
                    Share your insights, ratings, and recommendations with the world. Join us in celebrating the magic of cinema!
                </p>
            </div>
        </div>
    </section>

</body>
</html>
