<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Movie Review</title>
</head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" >
        <h2>Movie Review</h2>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th><abbr title="MovieID">Movie ID</abbr></th>
        <th><abbr title="Category">Category</abbr></th>
        <th><abbr title="Director">Director</abbr></th>
        <th><abbr title="MovieTitle">MovieTitle</abbr></th>
        <th><abbr title="MovieLength">MovieLength</abbr></th>
        <th><abbr title="Year">Year</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>Action</th>
        <td>Robert Schwentke</td>
        <td>Red</td>
        <td>104 minutes</td>
        <td>2010</td>

      </tr>
    </tbody>
  </table>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Movie Review</strong> by <a href="https://github.com/Tocopro/MovieReview_Project15">Group 3</a>. The source code is Managed By Group 3</a>. The website content
        is deployed on Heroku!</a>.
      </p>
    </div>
  </footer>
</html>